body { font-size: 18px;
font-family: 'Montserrat', sans-serif;
}
h1,h2 {
	text-transform: uppercase;
	border-bottom 4px solid black;
	display: inline block;
	font-weight: 800;
}
h1 {
	font-size: 3em;
	background: 3BE3E6
}
h2 {
	font-size: 2em;
	font-color: 3BE3E6
	Background: black
}
nav {
	float: left;
	margin: 5em,5em,5em,5em;
	font-size: 20px;
	font-weight: 500
	font-color: #54CC14;
}
img {
	display: block;
	width: 100%;
	margin: 0,
}
#menu photo {

	float: left;
	display: block;
	width: 25%;
	padding: 2%;
	display: inline-block;
}
footer {
	float: right;
}
