body { font-size: 18px;
font-family: 'Montserrat', sans-serif;
background:#E3FFC9;
}
h1,h2 {
	text-transform: uppercase;
	border-bottom 4px solid black;
	display: inline block;
	font-weight: 800;
}
h1 {
	font-size: 3em;
	background: 3BE3E6;
	padding-right: 25%;
	padding-left: 25%;
}
h2 {
	font-size: 2em;
	font-color: 3BE3E6;
	
}
nav {
	float: left;
	background-color: #E3FFC9
	margin: 40px;
	font-size: 20px;
	font-weight: 500;
	font-color: #C9FFEF;
}

img {
	display: block;
	width: 100%;
	margin: 0,
}
#menu photo {
	display: inline-block;
	float: left;
	width: 25%;
	padding: 2%;
	
}
footer {
	float: right;
}
