body {
	background-color: #00ffff;
	font-style: Georgia
	
}

h1 {	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #59422e;
	font-size: 36px
	font-weight: 700;
	text-decoration: underline;
	text-transform: uppercase;
}

p {	text-align: center;
	color: #59422e;	
	font-size:30px
}

ul {	font-family: 'Indie Flower', cursive;
	text-align: center;
	list-style-type: none;
	color: #59422e; 
	font-size: 24px;
}
